<div class="container">
  <h2>Agregar Persona</h2>
  <form #personaForm="ngForm" (ngSubmit)="agregarPersona(personaForm)">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" ngModel required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" name="apellido" ngModel required>
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" id="edad" name="edad" ngModel required>
    </div>
    <div class="form-group">
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" ngModel required>
    </div>
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" name="direccion" ngModel required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="tel" class="form-control" id="telefono" name="telefono" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary mt-4">
      <span class="bi bi-person-plus-fill me-2"></span>Agregar
    </button>
  </form>

    <h2 class="mt-4"  >Lista de Personas</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{persona.nombre}}</td>
          <td>{{persona.apellido}}</td>
          <td>{{persona.edad}}</td>
          <td>{{persona.fechaNacimiento}}</td>
          <td>{{persona.direccion}}</td>
          <td>{{persona.telefono}}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarPersona(i)">
              <i class="bi bi-trash-fill"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="mt-4" *ngIf="personasEliminadas.length > 0">
    <h2>Lista de Personas Eliminadas</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personasEliminadas; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{persona.nombre}}</td>
          <td>{{persona.apellido}}</td>
          <td>{{persona.edad}}</td>
          <td>{{persona.fechaNacimiento}}</td>
          <td>{{persona.direccion}}</td>
          <td>{{persona.telefono}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>